@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@500&display=swap');

* {
    font-family: 'openSans' sans-serif;
}

div {
    display: flex;
    gap: 8px;
}

body {
  background: orange;
}

input {
  margin-bottom: 20px;
}

.answer {
    margin-top: 10px;
    flex-direction: column;
    gap: 0;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
    margin-top: 10px;
    display: none;
}
